/* Homepage styling */
body {
	font-family: 'Open Sans', 'Arial', 'Sans-Serif';
	background-color:  #ffffff;
      }

/* Contact bar */
div.contact {
	background-color: #ff849f;
	text-align: right;
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}		

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	
p {
	font-size: 16px;
	padding: 0px;
  	margin: 0;
  }

p.h1 {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Garamond', 'Hoefler Text', 'Times New Roman', Times, serif;
  padding: 0px;
  margin: 0;
}

/* Bio text box */
div.bio {
	line-height: 1.6;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width: 500px;
	display: block;
	}

/* Media query test
@media only screen and (max-width: 600px) {
	img {
		height: 700px;
		width: 502px;
	}
    }  */

/* Navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  font-family: 'Garamond', 'Hoefler Text', 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bold;
}

li {
    float: left;
}

li a {
  display: block;
  color: #c8cbd1;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  color: #000000;
}

.active {
  color: #000000;
}

/* Body links */

.external {
  text-decoration: none;
  color: #ff849f;
}

.external:hover {
  text-decoration: none;
  color: #fcb5c4;
}

  

	
