/* Body and text styling */
body {
	font-family: 'Open Sans', 'Arial', 'Sans-Serif';
	background-image: url("https://raw.githubusercontent.com/KatelynGreller/katelyngreller.github.io/master/PortfolioHeadshot1.jpeg"); 
	background-size: cover;
	background-position-y: 20px;
	background-repeat: no-repeat;
	background-color: #ede8e6;
      }
	
p {
	font-size: 1em;
	font-weight: lighter;
	padding: 0px;
  	margin: 0
  }

p.h1 {
  font-size: 3em;
  font-weight: bold;
  color: #ed8ebb;
  padding: 0px;
  margin: 0
}

/* Navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  font-family: 'Open Sans', 'Arial', 'Sans-Serif';
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ede8e6;
}

.active {
  background-color: #ede8e6;
}

/* Body links */

  
/* Bio text box */
div.bio {
	position: relative;
	top: 20px;
	left: 550px;
	right: 20px;
	max-width: 500px;
	}
	
