p {
	font-family: 'Trebuchet MS', 'Arial', 'Sans-Serif';
	font-size: 1.5em;
	font-weight: 300;
  }

p.h1 {
  font-family: 'Trebuchet MS', 'Arial', 'Sans-Serif';
  font-size: 3em;
  font-weight: 800;
  color: #ed8ebb;
  padding: 0px;
  margin: 0px
}

a {
  text-decoration: none;
  color: #ed8ebb
  }
  
a:hover {
  text-decoration: underline;
  }
  
body {
	background-image: url("https://raw.githubusercontent.com/KatelynGreller/katelyngreller.github.io/master/PortfolioHeadshot1.jpeg"); 
	background-size: cover;
	background-color: #ede8e6;
	background-repeat: no-repeat;
	}
	
div.bio {
	position: relative;
	top: 10px;
	left: 500px;
	right: 20px;
	max-width: 500px;
	}
	
