/* Homepage styling */
body {
	font-family: 'Open Sans', 'Arial', 'Sans-Serif';
      }

div {
	max-width: 700px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-bottom: 10px;
}
	
p {
	font-size: 1em;
	font-weight: lighter;
  }

p.mhec {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Garamond', 'Hoefler Text', 'Times New Roman', Times, serif;
  color: #f6b26b;
  padding: 0px;
  margin: 0;
}

p.bopa {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Garamond', 'Hoefler Text', 'Times New Roman', Times, serif;
  color: #ff91d2;
  padding: 0px;
  margin: 0;
}

p.usgs {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Garamond', 'Hoefler Text', 'Times New Roman', Times, serif;
  color: #25c47a;
  padding: 0px;
  margin: 0;
}

p.hcc {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Garamond', 'Hoefler Text', 'Times New Roman', Times, serif;
  color: #8a7fe6;
  padding: 0px;
  margin: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation bar */
ul {
  opacity: 0.5%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  font-family: 'Open Sans', 'Arial', 'Sans-Serif';
}

li {
    float: left;
}

li a {
  display: block;
  color: #c8cbd1;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  color: #000000;
}

.active {
  color: #000000;
}


